<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}">
    <title>{{ section.title }}</title>
  </head>
  <body class="home">
    <a class="title-link" href="/home/" aria-label="DRAINES">
      <div class="title" role="img" aria-label="DRAINES">
        <span class="char"><i class="letter letter-d"></i></span>
        <span class="char"><i class="letter letter-r"></i></span>
        <span class="char"><i class="letter letter-a"></i></span>
        <span class="char"><i class="letter letter-i"></i></span>
        <span class="char"><i class="letter letter-n"></i></span>
        <span class="char"><i class="letter letter-e"></i></span>
        <span class="char"><i class="letter letter-s"></i></span>
      </div>
    </a>
  </body>
</html>
