<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    </div>
  </body>

<script src="https://bugbuddy.dev/widget.js" data-project-key="bb_7ffdfc686113698e50e2cae84a44cb46757d3ac20c3a0925df1aa94bc9c06ef0" data-app-url="https://bugbuddy.dev"></script>
</html>
